.notice-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notice-card h3 {
    margin-top: 0;
}

.notice-card p {
    margin-bottom: 10px;
}
.notice-card a {
    text-decoration: none;
    color: #0d4977;
}
